node_modules/
dist/
artifacts/
.vite/
coverage/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

.DS_Store
Thumbs.db
Desktop.ini

.env
.env.*
!.env.example

.idea/
.vscode/
*.swp
*.swo
